{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="landing flex items-center pt-6">
    <div class="p-4 flex-col p-2 items-start">
      <div class="flow-root text-6xl font-bold pl-6">
        <h1 class="my-4">Welcome to the web page!!</h1>
        <h3 class="text-xl font-light w-3/4">A school library (or a school media center) is a library within a school where students, and sometimes their parents and staff have access to loan a variety of resources, often literary or digital.</h3>
      </div>
    </div>
    <div class="p-2">
      <img src="https://img.pikbest.com/png-images/20241224/black-and-white-icon-geometric-cubes-3d-blocks-simple-shapes-stacked-minimalist_11293002.png!w700wp" alt="landing image" />
    </div>
  </div>
{% endblock %}
