{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="landing flex items-center">
    <div class="p-4 flex-col p-2 items-start">
      <div class="flow-root text-6xl font-bold pl-x">
        <h1 class="my-4">Welcome to the web page!!</h1>
        <h3 class="text-xl font-light">A school library (or a school media center) is a library within a school where students, and sometimes their parents and staff have access to loan a variety of resources, often literary or digital.</h3>
      </div>
      <div class="my-4 text-white flex flex-row">
        <a href="/form" class="p-3 mr-3 rounded-4xl alin">click for form</a>
        <a href="/form" class="p-3 rounded-4xl alin">click for form</a>
      </div>
    </div>
    <div>
      <img src="{% static 'image/9176169_6607.svg' %}" alt="landing image" />
    </div>
  </div>
{% endblock %}
